<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Class Dict 课堂推书</title>
    <!-- Class Dict Customize-->
    <%= stylesheet_link_tag 'usermain.css' %>
    <%= stylesheet_link_tag 'topicdetail.css' %>
    <%= javascript_tag do %>

        function search_books(){
        var keywords = document.getElementById("searchInput").value;
        if (keywords == "" || keywords.length == 0)
        keywords = '*';
        self.location.href = '/search/'+keywords + '/1';
        }
        function search_courses(){
        var keywords = document.getElementById("searchInput").value;
        if (keywords == "" || keywords.length == 0)
        keywords = '*';
        self.location.href = '/search_course/'+keywords + '/1';
        }


    <% end %>
  </head>
  <body>
		<!-- Topside navigation bar goes here-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Class Dict 课堂推书</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">注销</a></li>
            <li><a href="/:user/:id/profile">设置</a></li>
            <li><a href="/:user/:id/messages">消息<span class="badge">14</span></a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <input type="text" id="searchInput" class="form-control" placeholder="搜索课程或者书籍...">
						<div class="btn-group" role="group">
              <button type="button" class="btn btn-default" onclick="search_books()"><span class="glyphicon glyphicon-book" aria-hidden="true">&nbsp书籍</span></button>
              <button type="button" class="btn btn-default" onclick="search_courses()" ><span class="glyphicon glyphicon-bell" aria-hidden="true">&nbsp课程</span></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
		<!-- Main content container goes here-->
		<div class="container-fluid">
	  <div class="row">
			<!-- Left sidebar : user menu -->
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar m_bt" style="text-align:center;">
					<li><a href="coursecollection.html">课程收藏 <span class="sr-only">(current)</span></a></li>
					<li><a href="bookcollection.html">书籍收藏</a></li>
					<li><a href="newbook.html">申请新书</a></li>
					<li><a href="newcourse.html">申请课程</a></li>
        </ul>
			</div>
			<!-- Middle columns : search results; course details; book details -->
      <% floor_num = 1 %>
			<div class="col-sm-9 col-md-10 main col-sm-offset-3 col-md-offset-2 main">
				<div class="container">
          <!-- Topic content goes here. -->
          <ul class="topic-content list-group">
            <li class="list-group-item content-single" postid="<%= floor_num %>" topicid="<%= params[:note_id] %>">
              <h4 class="list-group-item-heading topic-title"><%= @topic.title.strip %></h4>
              <h5 class="list-group-item-heading reply-at"><%= @topic_owner.nickname %> &nbsp 2016-01-01 19:55:55</h5>
              <p class="list-group-item-text reply-content">
                <%= @topic.content.strip %>
              </p>
              <h5 class="list-group-item-heading reply-footer">
                <span class="reply-buttons">
                  <span class="reply-b"><span class="glyphicon glyphicon-comment" aria-hidden="true">发表回复</span></span>
                  <span class="reply-this"><span class="glyphicon glyphicon-retweet" aria-hidden="true">回复此楼</span></span>
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  <span class="badge">42</span>&nbsp
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                  <span class="badge">20</span>
                </span>
              </h5>
            </li>
            <% @reply_relation.each do |reply_relation| %>
                <% reply_topic = BookNote.find(reply_relation.reply_id) %>
                <% floor_num += 1 %>
                <% if reply_topic.title.nil? %>
                    <li class="list-group-item reply-single" postid="<%= floor_num %>" topicid="<%= reply_topic.id %>">
                      <h4 class="list-group-item-heading reply-title"></h4>
                      <h5 class="list-group-item-heading reply-at"><%= User.find(reply_topic.user_id).nickname %> &nbsp 2016-01-01 20:55:55</h5>
                      <p class="list-group-item-text reply-content">
                        <%= reply_topic.content.strip %>
                      </p>
                      <h5 class="list-group-item-heading reply-footer">
                <span class="reply-buttons">
                  <span class="reply-b"><span class="glyphicon glyphicon-comment" aria-hidden="true">发表回复</span></span>
                  <span class="reply-this"><span class="glyphicon glyphicon-retweet" aria-hidden="true">回复此楼</span></span>
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  <span class="badge">42</span>&nbsp
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                  <span class="badge">20</span>
                </span>
                      </h5>
                    </li>
                <% else %>
                  <li class="list-group-item reply-single" postid="<%= floor_num %>" topicid="<%= reply_topic.id %>">
                    <h4 class="list-group-item-heading reply-title"><%= reply_topic.title %></h4>
                    <h5 class="list-group-item-heading reply-at"><%= User.find(reply_topic.user_id).nickname %> &nbsp 2016-01-01 20:55:55</h5>
                    <p class="list-group-item-text reply-content">
                      <%= reply_topic.content.strip %>
                    </p>
                    <h5 class="list-group-item-heading reply-footer">
                      <span class="reply-buttons">
                        <span class="reply-b"><span class="glyphicon glyphicon-comment" aria-hidden="true">发表回复</span></span>
                        <span class="reply-this"><span class="glyphicon glyphicon-retweet" aria-hidden="true">回复此楼</span></span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="badge">42</span>&nbsp
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        <span class="badge">20</span>
                      </span>
                    </h5>
                  </li>
                <% end %>
              <% end %>
          </ul>
          <div class="page-control">
            <nav>
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#" >1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>
          </div>
          <!-- Reply panel goes here. -->
					<div class="panel panel-default reply-panel">
            <div class="panel-heading">
              <h3 class="panel-title">快速回复</h3>
            </div>
            <div class="panel-body">
              <%=form_tag '/post_reply_for_article' do -%>
                <input id="reply-to-title" name="title" type="text" class="form-control" placeholder="回复标题">
                <textarea class="form-control" rows="5" name="content" placeholder="回复内容"></textarea>
                <input id="reply-to-id" name="floor" type="text" class="form-control" style="display:none" >
                <input id="reply_topic_id" name="reply_topic_id" type="text" class="form-control" style="display:none" >
                <button type="submit" class="btn btn-primary btn-lg btn-block">回复</button>
              <% end -%>
            </div>
          </div>
				</div>
			</div>
    </div>
		<!-- Right sidebar : ranking lists -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".reply-b").click(function(){
          var postid = $(".content-single").attr("postid");
          $("#reply-to-id").val(postid);
          $("html,body").animate({scrollTop:$(".reply-panel").offset().top}, 200);
        });
        $(".reply-this").click(function(){
          var postid = $(this).parent().parent().parent().attr("postid");
          var topicid = $(this).parent().parent().parent().attr("topicid");
          //postid shouldn't appear here. Just temporarily.
          $("#reply-to-title").val("回复"+postid+"楼：")
          $("#reply-to-id").val(postid);
          $("#reply_topic_id").val(topicid);
          $("html,body").animate({scrollTop:$(".reply-panel").offset().top}, 200);
        });
      });
    </script>
  </body>
</ht.l>
